<!-- @dsCard group="Estado" height=150 -->
<!doctype html><html data-theme="dark"><head><link rel="stylesheet" href="../../tokens.css"><link rel="stylesheet" href="../bundle.css"><meta charset="utf-8"><title>SparkMeter</title></head><body>
<div class="ch-pad ch-col">
<div class="ch-meter"><span class="ch-meter__n">1/1</span><span class="ch-meter__t"><b>Chispa disponible</b>Se recarga mañana a las 8:00</span></div>
<div class="ch-meter"><span class="ch-meter__n is-empty">0/1</span><span class="ch-meter__t"><b>Usaste la chispa de hoy</b>Guardá 3 conceptos para ganar 1 extra</span></div>
</div></body></html>
